<!doctype html>
<title>First page for data input</title>
<link rel=stylesheet type=text/css href='{{ url_for('static',filename='style_lulu.css')}}'>
<div class=page>
  <h1>This will do a sample calculation</h1>
  <div class=metanav>
    <h4>
		Enter an integer number, e.g., "5"
    </h4>

    <form id='getCalcInfo' method='post' action=' ' >
      <p>
   		 Number input: <input type='number' name='userCalc1' />
      </p>
      <p>
    	<input type='submit' value='Submit' />
      </p>
    </form>

  </div>
</div>
